
      <div class="starter-template">
        <h1>Welcome to Daheza.com</h1>
        <p class="lead">My name is David Sturgeon. I am currently a Front End Developer.</p>
      </div>
      
      <h2>Qualifications</h2>
      <p>5 Years of Web Development. B.S. in Computer Science from CSUSB. Graduated with Honors.</p>

      <h2>Active Projects</h2>
      <p>These are projects that I am actively working on.</p>

      <h4>Twitter Follower Counter</h4>
      <p><strong>Description:</strong> This project came about when my roommate was describing a problem to me. He is a social media coordinator and has to deal with 30+ twitter accounts each day. His job is to increase the amount of followers on these accounts. Unfortunately he had no way of tracking the follower counts of all his accounts unless he manually did it. I decided that I could write a simple script for him that would grab all of clients followers and enter them into a google spreadsheet. I decided to write a nodejs script and then convert that script into an application for him to use with node-webkit</p>
      <p><strong>Technologies:</strong> The currently working node.js script uses the google-spreadsheet and twit modules in order to make the API calls. I am including these modules into a node-webkit app which he will use to add new rows to the google spreadsheet</p>
      <p><strong>Achievments:</strong>This was my second node.js project but the first that I was writing from scratch. I learned a lot about node and how it works. This is also my first attempt at making an "application" vs just a normal webpage. The styling comes from twitter bootstrap.</p>

      <h2>Backlogged Projects</h2>
      <p>These are projects that I started on and came to some level of completion.</p>

      <h4>DiscoZoo Pattern Logger</h4>
      <p><strong>Description</strong>The intent for this project was to create a site that could store the common patterns you come across in discozoo. As well as an experiment in local storage, I also wanted to see if I could create a grid based position system.</p>
      <p><strong>Technologies:</strong> Angular for the templating of the grid and an Angular Service for the Local Storage. Styling was from bootstrap with minor tweaks. </p>
      <p><strong>Achievments:</strong> The page works as intended. Patterns were saved/retrieved from local storage. The page however did not work well when actually playing the game because I did not always have a web browser open when playing. It would be a good project to turn fully responsive.</p>

      <h4>Giant Bomb Marry / Kill / Do</h4>
      <p><strong>Description:</strong> The intent with this project was to use the Giant Bomb JSONP API to pull in random characters from the database and let the user play a simple game. This project was also my first attempt at writing my own service in Angular.</p>
      <p><strong>Technologies:</strong> I used angular for the templating. I created my own service that could pull from the Giant Bomb API. The css was created by hand. </p>
      <p><strong>Achievments:</strong> I successfully created a service which could pull information from an external API. During the process of creating the service I learned how to use promises. This has been extremely helpful on other projects.</p>

